﻿
@{
    ViewBag.Title = "About us";
}
<main aria-labelledby="title">

    <h2 align="center">About us</h2>
    <div style="min-height: 100vh; display: flex; flex-direction: column; ">
        <center>
            <div style="max-width: 1000px; margin: 0 auto; padding: 5px 12px 2px 12px; border: 1px double #ccc; background-color: #fff; border-radius: 8px; justify-content:space-evenly; ">
                <p>
                    With the establishment of our first office in UAE,E-shopper is a dynamic and innovative E-commerce company that has been making significant strides in the online solutions for shopping domain. Founded with a vision to empower businesses with cutting-edge technology, E-Shopper has been delivering a wide range of services to clients across various industries.
                </p>
                <p>
                    Established by a group of passionate and skilled technologists, sellers, admins etc. E-Shopper started its journey with the goal of becoming a leading player in the e-commerce sector. Since its inception, the company has experienced steady growth, owing to its commitment to excellence, client-centric approach, and an ability to adapt to evolving industry trends.
                </p>

                @*<img align="middle" src="Image1.jpg" alt="Image 1" width=400 height=200 style="border-radius:5px">*@
                <img src="https://eshopper.ng/wp-content/uploads/2021/01/e-shopper-1.png" class="container" />
                <p>
                    One of the core strengths of E-Shopper(The shopper's forum) is its team of highly skilled professionals. Comprising of experienced developers, designers, and product managers, the team works collaboratively to deliver top-notch solutions that exceed client expectations. The company fosters a culture of continuous learning, ensuring that their workforce stays up-to-date with the latest technologies and best practices.
                </p>

            </div>
        </center>
    </div>

    <br />
    <br />
    <br />


    @*<div class="row">
            <div class="col-lg-4">
                <h4>GD Group consist of:</h4>
                <ul class="list-group">
                    <li class="list-group-item">G Devananda</li>
                    <li class="list-group-item">Shibija</li>
                    <li class="list-group-item">Girish Kumar</li>
                    <li class="list-group-item">Ghanasyama</li>
                </ul>
            </div>

            <div class="col-lg-8">
                <h4>Technologies used</h4>

                <span class="label label-success">ASP .NET MVC 5</span>
                <span class="label label-success">HTML5</span>
                <span class="label label-success">CSS3</span>
                <span class="label label-success">Javascript</span>
                <span class="label label-success">Bootstrap</span>
                <span class="label label-success">SQL Server</span>

            </div>
        </div>*@
</main>